<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><label for="category_name">Name:</label></br>
    <%= text_field'category', 'name' %></p>

  <p><label for="category_parent_id">Parent Category</label><br>
    <%= collection_select(:category, :parent_id, 
      @categories, :id, :long_name) %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
